.aside {
  background-color: #ececed;
  height: 100%;
  flex: 0 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside__list {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside__list .aside__list-item {
  margin: 20px 0px;
  cursor: pointer;
}

.aside__list:first-child {
  margin-top: 45px;
}

.aside__list:last-child {
  margin-bottom: 20px;
}

.aside__list-item:nth-child(2) {
  position: relative;
}

.aside__list-item__badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: cetner;
  padding: 3px;
  font-size: 12px;
  color: white;
  border: 1px solid none;
  border-radius: 50%;
  background-color: #dc5d46;
  top: -5px;
  left: 12px;
}
