.basic-header {
  padding: 10px 20px;
}

.basic-btn {
  display: flex;
  justify-content: flex-end;
}

.basic-btn__column i {
  margin-left: 5px;
  cursor: pointer;
}

.title {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px;
  padding-top: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.title i {
  cursor: pointer;
}

.search__name {
  background-color: #f6f6f7;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 15px;
}

.search__name input {
  padding-left: 5px;
  border: none;
  outline: none;
  width: 100%;
  background-color: #f6f6f7;
  color: #757575;
}
