.bigScreen {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: khaki;
  display: none;
  justify-content: center;
  align-items: center;
  color: brown;
  font-size: 30px;
  font-weight: bold;
}
